:root[data-theme="theme_light"]{
    --primary_color: #4d96fb;
    --secondary_color: #53aff4;
    --tertiary_color: #70baff;
    --queternary_color: #98ceff;
    --text_color: black;
    --image_filter: none;
}
:root[data-theme="theme_dark"]{
    --primary_color: #1e1e1e;
    --secondary_color: #252526;
    --tertiary_color: #3e3e42;
    --queternary_color: #007acc;
    --text_color: white;
    --image_filter: brightness(0) invert(1);
}
/* main styles*/
body{
    padding: 0;
    margin: 0;
    background-color: var(--primary_color);
    font-family: open-sans, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: var(--text_color);
}
.container{
    display: grid;
    grid-template-areas: 
    "empty_nav      nav     empty_nav"
    "empty_main     main    empty_main"
    "empty_footer   footer  empty_footer";
}
.active{
    background-color: var(--queternary_color);
}
.centered_text{
    text-align: center;
}
.flex_nav{
    display: flex;
    justify-content: space-between;
}
.empty_nav{
    grid-area: empty_nav;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    filter: var(--image_filter);
}
nav{
    grid-area: nav;
    background-color: var(--secondary_color);
    width: 50%;
    & > img{
        padding: 1em;
    }
    ul{
        float: right;
        padding-right: 0.5em;
        li{
            display: inline-block;
            padding: 1em;
            font-size: 18px;
            &:hover{
                color: white;
                text-decoration: none;
                background-color: var(--tertiary_color);
            }
            .dropdown{
                position: relative;
                display: inline-block;
                .dropdown-content{
                    display: none;
                    position: absolute;
                    right: 0%;
                    box-shadow: 0 0 1em black;
                    z-index: 1;
                }
                &:hover .dropdown-content {
                    background-color: var(--secondary_color);
                    display: block;
                    max-width: 125px;
                }
            }
            a{
                text-decoration: none;
                text-align: center;  
                &:link, &:visited{
                    color: var(--text_color);
                }  
            }       
        }
    }
}
.flex_main{
    display: flex;
    justify-content: space-between;
}
.main {
    grid-area: main;
    width: 50%;
    padding: 0.5em;
}
.empty_main{
    grid-area: empty_main;
    width: 25%;
}
.flex_footer{
    display: flex;
    justify-content: space-between;
}
footer{
    grid-area: footer;
    width: 50%;
    padding: 0.5em;
    background-color: var(--secondary_color);
    & > span{
        padding-left: 5px;
    }
}
.empty_footer{
    grid-area: empty_footer;
    width: 25%;
}
form{
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}
input{
    height: 25px;
    &, textarea{
        border: 1px solid black;
        border-radius: 5px;
    }
    &[type=email]{
        width: 50%;
    }
    &[type=radio]{
        height: auto;
    }
}
.form_button{
    border: 1px solid black;
    border-radius: 5px;
    background-color: var(--tertiary_color);
    padding: 1em;
    display: inline-block;
    text-align: center;
    font-size: 15px;
    &:hover{
        background-color: var(--queternary_color);
        cursor: pointer;
    }
}
hr{
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, #CCC, transparent);  
}
/* end of main.html*/
/* calorie_calc.html */
.form_place{
    margin: 0 auto;
    width: 45%;
    background-color: var(--secondary_color);
}
.p_box{
    margin: 0 auto;
    width: 75%;
    background-color: var(--secondary_color);
    padding: 1em;
    margin-bottom: 0.5em;
    margin-top:0.5em;
}
/* end of calorie_calc.html*/
/* contact.html */
.find_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.find_item{
    padding: 0.5em;
    width: 25%;
    &:hover{
        background-color: var(--tertiary_color);
    }
}
/* end of contact.html*/
/* price_list.html */
#price_tab{
    border-collapse: collapse;
    width: 100%;
    td, th{
        border: 1px solid black;
        padding: 0.5em;
        text-align: center;
    }
    th{
        padding-top: 1em ;
        padding-bottom: 1em ;
        background-color: var(--primary_color);
        color: white;
    }
    tr{
        &:hover{
            background-color: var(--tertiary_color);
        };
    }
}
.button_container{
    text-align: center;
}
.price_button{
    margin: 0.5em;  
}
.price_step_container{
    display: flex;
    gap: 15px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1em;
    flex-wrap: wrap;
}
.price_step_item{
    padding: 0.5em;
    height: 200px;
    width: 20%;
    box-shadow: 0 0 0.5em black;
    a{
        pointer-events: none;
    }
    &:hover{
        background-color: var(--tertiary_color);
    }
}
.price_step_item_two{
    padding: 0.5em;
    height: 125px;
    width: 25%;
    box-shadow: 0 0 0.5em black;
    a{
        pointer-events: none;
    }
    &:hover{
        background-color: var(--tertiary_color);
    }
}
.achieve_list_container{
    ul{
        list-style: none;
        width: 100%;
        li{
            width: 30%;
            display: inline-block;
        }
    }  
}
/* end of price_list.html*/
/* about.html */
.about_item{
    padding: 0.5em;
    height: 160px;
    width: 20%;
    box-shadow: 0 0 0.5em black;
    a{
        pointer-events: none;
    }
    &:hover{
        background-color: var(--tertiary_color);
    }
}
/* end of about.html*/
/* diets.html */
.diet_item{
    padding: 0.5em;
    height: 190px;
    width: 20%;
    box-shadow: 0 0 0.5em black;
    &>a{
        pointer-events: none;
    }
    &:hover{
        background-color: var(--tertiary_color);
    }
}  
/* end of diets.html*/
/* articles.html */
.articles_container{
    display: inline-block;
    padding: 1em;
}
.article_item{
    display: flex;
    align-items: center;
    padding: 0.5em;
    margin-bottom: 15px;
    height: 250px;
    width: 98%;
    box-shadow: 0 0 0.5em black;
    &>a{
        pointer-events: none;
    }
}  
.left_inner_article_item{
    width: 40%;
    text-align: center;
}
.right_inner_article_item{
    width: 68%;
}
/* end of articles.html*/