@base-blue: #4d96fb;
@nav-blue: #53aff4;
@next-blue: #70baff;
@other-blue: #98ceff;
body{
    padding: 0;
    margin: 0;
    background-color: @base-blue;
    font-family: open-sans, sans-serif;
    font-weight: 600;
    font-style: normal;
}
.container{
    display: grid;
    grid-template-areas: 
    "e_nav    nav       e_nav"
    "e_main   main     e_main"
    "e_footer footer e_footer";
}
.active{
    background-color: @other-blue;
}
.flex_nav{
    display: flex;
    justify-content: space-between;
}
.e_nav{
    grid-area: e_nav;
    width: 25%;
}
nav > img{
    padding: 0.6em;
}
nav{
    grid-area: nav;
    background-color: @nav-blue;
    width: 50%;
    ul{
        float: right;
        padding-right: 0.5em;
        
        li{
            display: inline-block;
            padding: 1em;
            font-size: 18px;
            
            &:hover{
                color: white;
                text-decoration: none;
                background-color: @next-blue;
            }
            .dropdown{
                position: relative;
                display: inline-block;
            }
            .dropdown-content{
                display: none;
                position:absolute;
                right: -50%;
                box-shadow: 0 0 1em black;
                z-index: 1;
            }
            .dropdown:hover .dropdown-content {
                display: block;
                background-color: @nav-blue;
            }
            a{
                text-decoration: none;
                padding-right: 0.5em;
                text-align: center;  
            }
            a:link, a:visited{
                color:black;
            }        
        }
    }
}
.flex_main{
    display: flex;
    justify-content: space-between;
}
.main {
    grid-area: main;
    width: 50%;
    padding: 0.5em;
}
.e_main{
    grid-area: e_main;
    width: 25%;
}
.flex_footer{
    display: flex;
    justify-content: space-between;
}
footer{
    grid-area: footer;
    width: 50%;
    padding: 0.5em;
    background-color: @nav-blue;
}
footer > span{
    padding-left: 5px;
}
.e_footer{
    grid-area: e_footer;
    width: 25%;
}
.form_place{
    margin: 0 auto;
    width: 45%;
    background-color: @nav-blue;
}
.p_box{
    margin: 0 auto;
    width: 75%;
    background-color: @nav-blue;
    padding: 0.5em;
    margin-bottom: 0.5em;
    margin-top:0.5em;
}
.centered_text{
    text-align: center;
}
.find_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.find_item{
    padding: 0.5em;
    width: 25%;
}
.find_item:hover{
    background-color: @next-blue;
}
input{
    height: 25px;
}
input, textarea{
    border: 1px solid black;
    border-radius: 5px;
}
form{
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}
input[type=email]{
    width: 50%;
}
input[type=radio]{
    height: auto;
}
.form_button{
    border: 1px solid black;
    border-radius: 5px;
    background-color: @next-blue;
    padding: 10px;
    display: inline-block;
    text-align: center;
    font-size: 15px;
}
.form_button:hover{
    background-color: @other-blue;
    cursor: pointer;
}